.navbar__link:hover{
text-decoration: underline;
color:black;

}

.navbar__menu{
  font-size: 23px;
  color: #007bff;
}

.navbar__item{
  color: black;
}

.nav-btn{
    font-size: 23px;
    color: black;
}
.nav{
    height: 70px;
    position: sticky;
    background-color: rgb(234, 234, 31);

}

.create-btn{
    font-size: 23px;
    
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #de070737;
  }

  .navbar__logo {
    font-size: 24px;
    font-weight: bold;
  }

  .navbar__menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar__item {
    margin-left: 30px;
  }

  .navbar__link {
    text-decoration: none;
    color: #ff8585;
  }

  .navbar__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }